[submodule "rice"]
	path = rice
	url = git@github.com:stanipintjuk/immutable-rice.git
[submodule "dotfiles"]
	path = dotfiles
	url = git@github.com:stanipintjuk/dotfiles.git
[submodule "router"]
	path = router
	url = git@github.com:stanipintjuk/nixos-router.git
